{{ define "main" }}
<div class="container-fluid page">
  <div class="row">
    <div class="col-1"></div>
    <div class="col-2 docs-pages">
      {{ partial "version-select" . }}
      <h3>
        <a href="{{ .CurrentSection.Permalink }}">{{ .CurrentSection.Title }}</a>
      </h3>

      <h3>Agents Specification</h3>
      {{ $agent := where .CurrentSection.Pages "Params.spec" "agent" }}
      {{ partial "nav-group" (dict "Pages" $agent "Current" $) }}

      <h3>Platforms Specification</h3>
      {{ $platform := where .CurrentSection.Pages "Params.spec" "platform" }}
      {{ partial "nav-group" (dict "Pages" $platform "Current" $) }}
    </div>

    <div class="col-6 docs-content">
      <h1 id="top">{{ .Title }}</h1>
      {{ .Content }}
    </div>

    <div class="col-2 docs-toc">
      {{ .TableOfContents }}
    </div>
    <div class="col-1"></div>
  </div>
</div>
{{ end }}
