{{ define "main" }}
<div class="container-fluid page">
  <div class="row">
    <div class="col-1"></div>
    <div class="col-2 docs-pages">
      {{ $agent := where .CurrentSection.Pages "Params.group" "agent" }}
      {{ $model := where .CurrentSection.Pages "Params.group" "model" }}
      {{ partial "version-select" . }}

      <h3>The Datastore Model</h3>
      {{ partial "nav-group" (dict "Pages" $model "Current" $) }}
      <h3>The Agent Protocol</h3>
      {{ partial "nav-group" (dict "Pages" $agent "Current" $) }}
    </div>

    <div class="col-6 docs-content">
      <h1 id="top">{{ .Title }}</h1>
      {{ .Content }}
    </div>

    <div class="col-2 docs-toc">
      {{ .TableOfContents }}
    </div>
    <div class="col-1"></div>
  </div>
</div>
{{ end }}
