{{ define "title" }}
<title>{{ .Title }}</title>
{{ end }}


{{ define "main" }}
<div class="landing">
  <div class="container">
    <h1 class="title">Safe Datastore Orchestration</h1>
    <h4 class="subtitle">
      Monitor and manage your datastores consistently
    </h4>

    <div class="quicklinks">
      {{- $url := "/docs/manual/docs/intro" -}}
      {{- $quickstart := "/docs/manual/docs/quick-start" -}}
      <a class="btn btn-outline-dark" role="button" href="{{ $quickstart }}">Quick start</a>
      <a class="btn btn-outline-dark" role="button" href="{{ $url }}">User guide</a>
    </div>
  </div>
</div>

<div class="container page">
  {{ .Content }}
</div>
{{ end }}
