{{ define "title" }}
<title>{{ .Title }}</title>
{{ end }}


{{ define "main" }}
<div class="landing">
  <div class="container">
    <h1 class="title">Safe Datastore Orchestration</h1>
    <h4 class="subtitle">
      Monitor and manage your datastores consistently
    </h4>

    <div class="quicklinks">
      {{- $guide := printf "/docs/core/%s" $.Site.Data.docs.stable.core -}}
      {{- $guide := $.Site.GetPage $guide -}}
      {{- $guide := index $guide.Pages 0 -}}
      {{- $quickstart := $.Site.GetPage $.Site.Data.docs.quickstart -}}
      <a class="btn btn-outline-dark" role="button" href="{{ $quickstart.Permalink }}">Quick start</a>
      <a class="btn btn-outline-dark" role="button" href="{{ $guide.Permalink }}">User guide</a>
    </div>
  </div>
</div>

<div class="container page">
  {{ .Content }}
</div>
{{ end }}
