<div class="row">
  <div class="col-12 roadmap-title">
    <h4>Current milestone: {{ .Site.Data.milestones.current.title | markdownify }}</h4>
    <span>{{ .Site.Data.milestones.current.description | markdownify }}</span>
  </div>
  <div class="col-12 col-lg-4">
    <ul class="list-group">
      {{ range $task := .Site.Data.roadmap.todo }}
      <li class="list-group-item d-flex justify-content-between align-items-center disabled">
        <span class="roadmap-item-body">{{ $task | markdownify }}</span>
        <span class="badge badge-secondary">To do</span>
      </li>
      {{ end }}
    </ul>
  </div>

  <div class="col-12 col-lg-4">
    <ul class="list-group">
      {{ range $task := .Site.Data.roadmap.progress }}
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <span class="roadmap-item-body">{{ $task | markdownify }}</span>
        <span class="badge badge-primary">In progress</span>
      </li>
      {{ end }}
    </ul>
  </div>

  <div class="col-12 col-lg-4">
    <ul class="list-group">
      {{ range $task := .Site.Data.roadmap.done }}
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <span class="roadmap-item-body">{{ $task | markdownify }}</span>
        <span class="badge badge-success">Done</span>
      </li>
      {{ end }}
    </ul>
  </div>
</div>
