<nav class="navbar top navbar-expand-md navbar-dark">
  <div class="container">
    <button class="navbar-toggler" type="button"
            data-toggle="collapse" data-target=".navbar-toggle-target"
            aria-expanded="false" aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    {{ $currentPage := . }}
    <div class="navbar-collapse collapse w-100 navbar-toggle-target">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item{{ if .IsHome }} active{{ end }}">
          <a class="nav-link" href="{{ "/" | absURL }}">Home</a>
        </li>
        {{ range .Site.Menus.main }}
        {{ $active := or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }}
        {{ $active := or $active (eq $currentPage.Section .Identifier) }}
        <li class="nav-item{{if $active }} active{{end}}">
          <a class="nav-link" href="{{ .URL }}">{{ .Name }}</a>
        </li>
        {{ end }}
      </ul>
    </div>

    <div class="navbar-collapse collapse w-100 navbar-toggle-target">
      <ul class="navbar-nav ml-auto">
        {{ range .Site.Menus.nav }}
        {{ $active := or ($currentPage.IsMenuCurrent "nav" .) ($currentPage.HasMenuCurrent "nav" .) }}
        <li class="nav-item{{if $active }} active{{end}}">
          <a class="nav-link" href="{{ .URL }}">{{ .Name }}</a>
        </li>
        {{ end }}
        <li class="nav-item">
          <a class="nav-link" href="https://github.com/replicante-io">
            <i class="fab fa-github"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://gitter.im/replicante-io/community">
            <i class="fab fa-gitter"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
