<div class="btn-group docs-versions">
  {{ $version := .CurrentSection }}
  <button type="button" class="btn btn-brand btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Version: {{ $version.Title }}
  </button>
  <div class="dropdown-menu">
    {{ range .CurrentSection.Parent.Pages }}
    {{ $page := index .Pages 0 }}
    {{ $active := eq $version . }}
    <a class="dropdown-item{{ if $active }} active{{ end }}" href="{{ $page.Permalink }}">{{ .Title }}</a>
    {{ end }}
  </div>
</div>
