div.docs-pages {
  display: block;
  margin-bottom: 0.5em;
  max-height: calc(100vh - 1em);
  overflow-y: auto;
  position: -webkit-sticky;
  position: sticky;
  top: 0.5em;

  h3 {
    color: #393939;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.2em;
    margin-bottom: 8px;
    margin-top: 0;
  }

  ul {
    padding: 0 8px;
    border: 0;
    margin: 0;
    margin-bottom: 1em;

    li {
      list-style-type: none;
      margin: 0;
      padding: 0;

      a {
        border: none;
        color: #717171;
        display: block;
        font-size: 14px;
        padding: 4px 0;
        -webkit-transition: color .3s;
        transition: color .3s;

        &.active, &:hover {
          color: $brand;
          text-decoration: none;
        }
      }
    }
  }
}

div.docs-toc {
  nav {
    display: block;
    margin-bottom: 0.5em;
    max-height: calc(100vh - 1em);
    overflow-y: auto;
    position: -webkit-sticky;
    position: sticky;
    top: 0.5em;
  }

  ul {
    border-left: 1px solid #e0e0e0;
    list-style: none;
    margin-bottom: 0;
    margin-top: 0;
    padding: 10px 0 2px 15px;

    li {
      font-size: 12px;
      line-height: 16px;
      padding-bottom: 8px;

      a {
        color: #717171;
        &:hover {
          color: $brand;
          text-decoration: none;
        }
      }
      ul {
        border-left: 0;
      }
    }
  }
}

div.docs-versions {
  margin-bottom: 1em;
}
