nav.navbar.top {
  background-color: $brand;
  // Source: https://www.transparenttextures.com/gplay.html
  background-image: url("./gplay.png");

  font-size: 0.95em;
  margin-bottom: 0em;
  padding-bottom: 2px;
}
