blockquote.notice {
  border-left: 8px solid;
  color: #6a737d;
  font-size: 16px;
  margin: 0 0 16px;
  padding: 15px;

  &.danger {
    background-color: rgba(255, 100, 100, 0.3);
    border-left-color: rgb(255, 100, 100);
  }

  &.info {
    background-color: rgba(100, 205, 255, 0.3);
    border-left-color: rgb(100, 205, 255);
  }

  &.success {
    background-color: #D4EDDA;
    border-left-color: #155724;
  }

  &.warning {
    background-color: rgba(255, 229, 100, 0.3);
    border-left-color: rgb(255, 229, 100);
  }

  & > p:last-of-type {
    margin-bottom: 0;
  }
}
